<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("partials/head.ejs")%>
</head>
<body>
    
    <h1>All Quote Authors</h1>

    <%-include("partials/nav.ejs")%>
    <br>

    <%for (let i of authors) {%>
        <a href="/updateAuthor?authorId=<%=i.authorId%>">Update author</a> &nbsp
        <a href="/deleteAuthor?authorId=<%=i.authorId%>">Delete author</a>
        <%=i.authorId%>. <%=i.firstName%> <%=i.lastName%> <br>
    <%}%>
    <br>
    <%-include("partials/footer.ejs")%>
</body>
</html>