<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("partials/head.ejs")%>
</head>
<body>
    <h1>Adding a new quote</h1>

    <form action="/newQuote" method="POST">
        Quote: <textarea name="quote"></textarea> <br><br>
        Category:
        <select name="category">
            <option>--Select an option--</option>
            <%for (let i of authorOptions) {%>
                <option><%=i.category%></option>
            <%}%>
        </select> <br><br>

        Author:
        <select name="author">
            <option value="0">--Select an option--</option>
            <%for (let i of authorOptions) {%>
                <option value="<%=i.authorId%>"><%=i.firstName%> <%=i.lastName%></option>
            <%}%>
        </select> <br><br>

        Likes:
        <input type="number" name="likes" min="0" max="1000"><br><br>

        <button>Add quote</button>
    </form>
    <br>
    <%-include("partials/footer.ejs")%>
</body>
</html>