<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <h1 class="bg-info text-white p-3 margin: 0">The Solar System</h1>
    <%- include("partials/nav.ejs") %>

    <br> <h2><%=currentDate%>:</h2> <br>
    <img src="<%=pic%>">
    <br>
    <br>

    <%- include("partials/footer.ejs") %>
</body>
</html>