<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
</head>

<body>
    <h1 class="bg-info text-white p-3 margin: 0">The Solar System</h1>

    <%- include("partials/nav.ejs") %>

    <div class="container-fluid m5 row">
        <div class="card p-4 col">
            <h2><%=planet%></h2>
            <%= planetInfo.description %>
        </div>

        <div class="card p-4 col">
            <img src="<%=planetInfo.image%>">
        </div>
    </div>

    <div class="container-fluid m5 row">
        <div class="card p-4 col">
            Distance from the sun: <%=planetInfo.distanceFromSun%>
        </div>

        <div class="card p-4 col">
            Number of moons: <%=planetInfo.moons%>
        </div>
    </div>

    <div class="container-fluid m5 row">
        <div class="card mx-auto p-4 col">
            How long one earth day is: <%=planetInfo.oneEarthDay%>
        </div>

        <div class="card p-4 col">
            Length of a year: <%=planetInfo.yearLength%>
        </div>
    </div>

    <div class="container-fluid m5 row">
        <div class="card p-4 col">
            Radius: <%=planetInfo.radius%>
        </div>

        <div class="card p-4 col">
            Source: <%=planetInfo.websiteLink%>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>
</body>

</html>